FileCryptography.Presentation.Client.Wpf/Service References/FileCryptographyService/FileCryptographyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30909/FileCryptographyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FileCryptography.Domain.Model" />
  <xs:import schemaLocation="http://localhost:30909/FileCryptographyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts.Requests" />
  <xs:complexType name="DecryptionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CryptionRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DecryptionRequest" nillable="true" type="tns:DecryptionRequest" />
  <xs:complexType name="CryptionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CryptionArgs" nillable="true" type="tns:FileCryptionArgs" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileCryptography.Domain.Model" minOccurs="0" name="File" nillable="true" type="q1:File" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CryptionRequest" nillable="true" type="tns:CryptionRequest" />
  <xs:complexType name="FileCryptionArgs">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts.Requests" minOccurs="0" name="PassPhrase" nillable="true" type="q2:KeyFile" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts.Requests" minOccurs="0" name="PrivateKey" nillable="true" type="q3:KeyFile" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts.Requests" minOccurs="0" name="PublicKey" nillable="true" type="q4:KeyFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileCryptionArgs" nillable="true" type="tns:FileCryptionArgs" />
  <xs:complexType name="EncryptionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CryptionRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EncryptionRequest" nillable="true" type="tns:EncryptionRequest" />
  <xs:complexType name="FileCryptionEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecutedCommand" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FileCryptography.Domain.Model" minOccurs="0" name="File" nillable="true" type="q5:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileCryptionEvent" nillable="true" type="tns:FileCryptionEvent" />
</xs:schema>