FileCryptography.Presentation.Client.Wpf/Service References/FileCryptographyService/FileCryptographyService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileCryptography.Domain.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileCryptography.Domain.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
</xs:schema>