FileCryptography.Presentation.Client.Wpf/Service References/FileCryptographyService/FileCryptographyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30909/FileCryptographyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" />
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" minOccurs="0" name="req" nillable="true" type="q1:DecryptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" minOccurs="0" name="req" nillable="true" type="q2:EncryptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFileDecrypted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" minOccurs="0" name="args" nillable="true" type="q3:FileCryptionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFileEncrypted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FileCryptography.Framework.Services.Contracts" minOccurs="0" name="args" nillable="true" type="q4:FileCryptionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>